
/*FUENTE DE GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');




body{
    margin: 0;
    background-color: black;
}

#btn-nav {
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}

#img-btn{
    width: 26px;
    height: 26px;
}

#img-btn:hover{
    cursor: pointer;
    filter: drop-shadow(2px 5px 5px rgba(255, 255, 255, 0.6));
}


a{
    text-decoration: none;
}

.bg-primary {
    background-image: url("../sources/corte-metal-equipos-plasma.jpg");
    height: 750px;
    background-size: cover;
    cursor: default;
}


/*-----------CSS  NAVBAR----------*/

.navbar {
    line-height: 50px;
}

.navbar:hover{
    background-color: rgb(40, 55, 71 ,0.5 );
}

.logo-img {
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}

.logo-img:hover {
    cursor: pointer;
   /* margin-top: 10px;
    box-shadow: 2px 2px 5px 2px rgba(253, 254, 254, 0.3);*/
}

.div-indice {
    display: flex;
    height: 120px;
    align-items: center;
    float: right; 
    margin-right: 75px;

}

.div-indice:hover{
    cursor: pointer;
    /*background-color: rgb(40, 55, 71 ,0.2 );
    text-shadow: 5px 5px 5px rgba(253, 254, 254, 0.5);*/
}

.indice {
        margin-left: 50px;
        color: white;
        font-size: 20px;
        font-family: monospace;
        font-weight: bold; 
}

.indice:hover {
    cursor: pointer;
   /* margin-bottom: 50px;
    text-shadow: 5px 5px 5px rgba(253, 254, 254, 0.5);*/
    color: rgba(253, 254, 254, 0.5);

}

/*---------------FINALIZA CSS DE NAVBAR------------------*/

/*--------------------CSS TITULO-------------------------*/

.principal {
    text-align: center;
    color: white;
    /*line-height: 100px;*/
}

.titulo-head {
    font-size: 200px;
    line-height: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 100px;
    text-align: center;
}

.subtitulo-head {
    font-size: 40px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    margin: 0;
}

.btn-head {
    font-size: 20px;
    color: goldenrod;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    display: inline-block;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
    border: 2px solid goldenrod;
    margin-top: 50px;
    line-height: 40px;
    width: 170px;
}

.btn-head:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: white;
    opacity: 0.6;
}


/*METODO PARA BARRIDO DE TITULO*/
.titulo-head, .subtitulo-head, .btn-head, .bg-primary{
    animation: 5s aparecer forwards;
}


@keyframes aparecer {
    0% {
        opacity: 0;
        top: 150px;
    }

    100%{
        opacity: 1;
        top: 0px;
    }
}


/*----------TRERMINA CSS DE TITULO---------------*/

/*----------------MAIN CSS-----------------------*/
.info-container {
    background-color: black;
    cursor: default;
}

.services {
    display: flex;
    /*margin-left: 10px;
    margin-right: 10px;*/
    margin: 20px;
    margin-bottom: 80px;
}

.txt-title{
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 125px;
}

.target-services{
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    height: 350px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.img-target{
    width: 250px;
    height: 350px;
}

.target-services:hover{
    margin-top: 5px;
}

.target-services:hover .img-target {
    opacity: 0.4;
    filter: blur(2px);
}

.target-services:hover .txt-target{
    cursor: default;
    color: white;
    opacity: 0.8;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
    margin-top: 100px;
}

.txt-target{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 140px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    opacity: 0.6;
}

.btn-targ3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 140px;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.6;
    visibility: hidden;
}

/*-----------------CSS DIV INFO---------------------*/

#our-info { 
    background-image: url("../sources/fondo\ corte.jpg");
    height: 400px;
    margin-top: 100px;
}

#fondo-container {
    height: 400px;
    background-color: rgba(0, 4, 57, 0.8) !important;
}


#our-title {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 100px;
    margin: 0;
}

#our-frase {
    margin: 0;
    color: rgb(239, 199, 0);
    text-align: center;
    font-size: 23px;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 20px;
}

#our-desc {
    color: rgb(164, 162, 162);
    margin: 45px 65px 0px 65px;
}

/*------------footer----------*/

#footer-contain{
    margin-top: 50px;
    margin-bottom: 200px;
}

#services-section{
    align-items: center;
    float: right; 
}

#image-footer{
    width: 10px;
    height: 20px;
    margin-left: 30px;
}

#indice-section{
    display: flex;
    margin-right: 50px;
}

.indice-end {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    padding: 12px;
}

.indice-end:hover{
    cursor: pointer;
    color: rgb(184, 178, 178);
}

#socialmedia-section{
    display: flex;
    margin-left: 65px;
}

.icons{
    width: 18px;
    height: 18px;
    margin-right: 70px;
}

.icons:hover{
    cursor: pointer;
    filter: drop-shadow(2px 5px 5px rgba(255, 255, 255, 0.6));
    
}

.txt-contacto{
    color: #919191;
    font-size: 20px
}

hr{
    margin: 20px;
    border-color: #919191;
}

#contain-info{
display: flex;
justify-content: center;
}

#info-contacto:hover{
    cursor: default;
}

#info-street{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#autor-section{
    display: flex;
    background-color: rgba(0, 4, 57);

}

#contenido-autor{
    float: left;
}

#autor-contain{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.txt-autor{
    color: #B4B3B3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.txt-autor:hover{
    cursor: default;
}

#img-autor{
    width: 14px;
    height: 14px;
}



